@using Microsoft.AspNetCore.Mvc.RazorPages

<div class="text-center " style="color: #9370db;">
    @if (Model.Characters.Info != null)
    {
        @if (!String.IsNullOrEmpty(Model.Characters.Info.PrevPage))
        {
            <a asp-route-pageNo="@Model.Characters.Info.PrevPage"><b>&lt;&lt; Previous</b></a>
        }
        @if (!String.IsNullOrEmpty(Model.Characters.Info.NextPage))
        {
            @for (int i = Convert.ToInt32(Model.Characters.Info.NextPage) - 5; 
                  i <= Convert.ToInt32(Model.Characters.Info.NextPage) + 3;
                  i++)
            {
                @if (i <= Convert.ToInt32(Model.Characters.Info.Pages))
                {
                    @if (i < 1)
                    {
                        //I DID THIS TO CENTER THE ACTIVE PAGE AND AVOID NEGATIVE NUMBERS
                        i += i * (-1);
                    }
                    else if(i == Convert.ToInt32(Model.Characters.Info.NextPage) - 1)
                    {
                        <b class="pagination-active">@i</b>
                    }
                    else
                    {
                        <a asp-route-pageNo="@i"><b>@i</b></a>
                    }                        
                }
                else
                {
                    break;
                }
            }
            <a asp-route-pageNo="@Model.Characters.Info.NextPage"><b>Next >></b></a>
        }
    }
</div>